<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/loginForm.css">
</head>
<body>

<div class="container">
    <!-- 로그아웃 후 메시지 처리 -->
    <div th:if="${logoutMessage}" class="logout-message" id="logoutMessage">
        <p th:text="${logoutMessage}"></p>
    </div>

    <h2>로그인</h2>
    <form action="/login-page" method="post" th:object="${loginForm}">
        <!-- 아이디 입력 필드 -->
        <div class="form-group">
            <label for="accountId">아이디</label>
            <input type="text" id="accountId" th:field="*{accountId}" class="form-control" placeholder="아이디"
                   th:class="${#fields.hasErrors('accountId')}? 'fieldError' : ''" />
<!--            <p th:if="${#fields.hasErrors('accountId')}" th:errors="*{accountId}" class="error-message">아이디를 입력해주세요.</p>-->
        </div>

        <!-- 비밀번호 입력 필드 -->
        <div class="form-group">
            <label for="password">패스워드</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="비밀번호"
                   th:class="${#fields.hasErrors('password')}? 'fieldError' : ''" />
<!--            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message">비밀번호를 입력해주세요.</p>-->
        </div>

        <!-- 로그인 버튼 -->
        <button type="submit">로그인</button>
    </form>

    <!-- 회원가입 버튼 -->
    <a href="/members/new" class="link-button">회원가입</a>
</div>

<!-- JavaScript -->
<script>
    window.onload = function() {
        // 로그아웃 메시지가 있을 경우, 3초 후에 사라지게 함
        var message = document.getElementById("logoutMessage");
        if (message) {
            setTimeout(function() {
                message.classList.add('fade-out');
                setTimeout(function() {
                    message.style.display = 'none';
                }, 500);
            }, 3000);
        }
    };
</script>

</body>
</html>